#memberful-wrap {
	max-width: 360px;
}

/*---------------------------------------------------------
	Sign up for Memberful or Register
------------------------------------------------------------ */
.memberful-sign-up,
.memberful-protect-help {
	margin-top: 20px;
	padding: 10px 20px;
	background: #ececec;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,.25);
}
.memberful-sign-up h1 {
	font-size: 16px;
	font-weight: normal;
}
.memberful-sign-up p {
	color: #666;
}
.memberful-register-plugin {
	margin-top: 30px;
}
.memberful-register-plugin h3 {
	font-weight: normal;
}
.memberful-register-plugin textarea {
	width: 100%;
	min-height: 60px;
	border-radius: 3px;
}

/*---------------------------------------------------------
	Integration Active
------------------------------------------------------------ */
#memberful-registered {
	margin-top: 20px;
	padding: 10px 20px 20px 20px;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,.25);
}
#memberful-registered h1 {
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	font-weight: normal;
	color: #2e922e;
}
#memberful-registered form {
	display: inline;
}
.memberful-protect-help {
	color: #666;
}