/*---------------------------------------------------------
	Widget styling
------------------------------------------------------------ */
.widget.widget_memberful_wp_profile_widget .memberful-profile-gravatar {
	float: left;
	margin: 0;
	padding: 0;
	width: 68px;
}
.widget.widget_memberful_wp_profile_widget .memberful-profile-name {
	margin: 0 0 7px 0;
}